<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>Calendrier</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>maxitrack_child</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(FLUTTER_BUILD_NAME)</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>$(FLUTTER_BUILD_NUMBER)</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>

    <!-- PERMISSIONS DE LOCALISATION -->
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Cette application utilise votre position pour le suivi parental.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Cette application a besoin de votre position en permanence pour le suivi parental, même quand l'écran est éteint.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>Cette application a besoin de votre position en permanence pour le suivi parental.</string>

    <!-- MODES ARRIÈRE-PLAN -->
    <key>UIBackgroundModes</key>
    <array>
        <string>fetch</string>
        <string>location</string>
        <string>processing</string>
    </array>

    <!-- Identifiants pour BGTaskScheduler (flutter_background_service) -->
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
        <string>dev.flutter.background_service</string>
    </array>

    <!-- Désactive ATS pour la connexion HTTP au serveur Traccar local -->
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
</dict>
</plist>
